body{
    background-color: silver;
    position: relative;

}
#homeSection {
    width: 40%;
    height: 100%;
    position: fixed;
    background-color: #B3C8CF     ;
    top: 0;
    left: 0;
    z-index: 1;

}
.main_container{
    padding: 20px;
    height: 100%;
}
.right{
    margin-left: 40%;
    width: 60%;
    height: 100%;
    background-color: #89A8B2  ;
    box-sizing: border-box;
}
/*--------------------------------home section---------------------------------------------*/
/*name text*/
#homeSection>div>h1{
    font-size: 50px;
    font-weight: bold;
    /*color: black;*/
    background: linear-gradient(to right ,#ff007f,black );
    color: transparent;
    background-clip: text;
    font-family: "Lilita One",Serif;
}
/*fancy para*/
#homeSection>div>:nth-child(2){
    font-size: 30px;
    font-weight: bolder;
}
/*about para*/
#fancyPara{
    font-size: 20px;
    font-weight: bold;
}
/*nav tags*/
#homeSection>div>dl>dt>a{
    text-decoration: none;
    color: black;
    position: relative;
    top: -6px;
}
/*div bar*/
#about,#services,#projects,#certificates,#edu,#contacts{
    width: 70px;
    height: 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: black;
}
/*social links and bars*/
#homeSection>div>dl>dt{
    display: flex;
    gap: 15px;
    margin: 5px;
}
/*icons*/
.social_links>div{
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 3px 0 black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_links{
    display: flex;
    gap: 10px;
    position: absolute;
    bottom: 15px;
    left: 35px;
}
#barOne,#barTwo,#barThree,#barFour,#barFive,#barSix{
    margin: 4px;

}
/*positioning nav tags*/
#barSix{
    position: relative;
    top:75px;
}
#barFive{
    position: relative;
    top: 60px;
}
#barFour{
    position: relative;
    top: 45px;
}
#barThree{
    position: relative;
    top: 30px;
}
#barTwo{
    position: relative;
    top: 15px;
}
/*-------------------------------about sec------------------------------------------*/
.myDescription_container{
    padding: 0 40px;
}
.aboutSec>div>div>div{
    width: 270px;
    aspect-ratio: 1/1;
    box-shadow: black 3px 3px 5px 0;
    position: relative;
}
.aboutSec>div>div>div>img{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px 20px 20px 20px;
}
/*my para*/
.myDescription_container>p{
    text-align: left;
    font-size: 17px;
}
/*-----------------------------services sec--------------------------------------*/
.sub_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2px;
}
/*catching each services div*/
#one{
    box-shadow: black 2px 2px 4px 0 ;
    position: relative;
}
#two{
    box-shadow: black 2px 2px 4px 0 ;
    margin: 2px;
}
#three{
    box-shadow: black 2px 2px 4px 0 ;
    margin: 2px;
}
/*catching p in first services card*/
.sub_container>div>p{
    text-align: center;
}
/*services card titles*/
.sub_container>div>h2{
    padding: 0 10px;
}
.sub_container>div>img{
    padding: 0 15px;
}
/*-------------------------------projects sec--------------------------------------*/
.image_container{
    padding: 25px;
}
.icon_container{
    padding: 10px;
    width: 15px;
    aspect-ratio: 1/1;
    box-shadow: black 2px 2px 4px 0;
    position: absolute;
    bottom: 10px;
    left: 150px;
}
#project1{
    width: 350px;
    height: 500px;
    position: relative;
    box-shadow: black 3px 3px 5px 0;
}
/*project1 img*/
#project1>div>img{
    border-radius: 20px;
}
#project1>h2{
    padding: 0 100px;
    position: absolute;
    top: 315px;
}
#project1>p{
    padding: 0 50px;
    position: absolute;
    top: 350px;
}
/*---------------------------------education-----------------------------------------*/
.eduGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1,1fr);
}
/*------------------------------------contacts-------------------------------------*/
.contactsGrid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}











