body{
    background-color: silver;
    position: relative;

}
#homeSection {
    width: 40%;
    height: 100%;
    position: fixed;
    background-color: #B3C8CF     ;
    top: 0;
    left: 0;
    z-index: 1;

}
.main_container{
    padding: 20px;
}
.right{
    margin-left: 40%;
    width: 60%;
    height: 100%;
    background-color: #89A8B2  ;
    box-sizing: border-box;
}
/*--------------------------------home section---------------------------------------------*/
/*name text*/
#homeSection>div>h1{
    font-size: 50px;
    font-weight: bold;
    color: black;
    font-family: "Lilita One",Serif;
}
/*fancy para*/
#homeSection>div>:nth-child(2){
    font-size: 30px;
    font-weight: bolder;
}
/*about para*/
#fancyPara{
    font-size: 20px;
    font-weight: bold;
}
/*nav tags*/
#homeSection>div>dl>dt>a{
    text-decoration: none;
    color: black;
}
/*div bar*/
#about,#services,#projects,#certificates,#edu,#contacts{
    width: 70px;
    height: 5px;
    border-radius: 5px 5px 5px 5px;
    background-color: black;
}
#homeSection>div>dl>dt{
    display: flex;
    margin: 5px;
}
.social_links>div{
    width: 30px;
    height: 30px;
    box-shadow: 2px 2px 3px 0 black;
}
.social_links{
    display: flex;
    gap: 10px;
}